In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics.pairwise import cosine_similarity
from numpy import dot
from numpy.linalg import norm

In [2]:
#匯入user.movie互動資料
rating = pd.read_csv("Movielens\\user_movie.dat",sep = "\t",names=["userId","movieId","rating","timestamp"])
print("互動資料:")
rating

互動資料:

       userId  movieId  rating  timestamp
0         196      242       3  881250949
1         186      302       3  891717742
2          22      377       1  878887116
3         244       51       2  880606923
4         166      346       1  886397596
...       ...      ...     ...        ...
99995     880      476       3  880175444
99996     716      204       5  879795543
99997     276     1090       1  874795795
99998      13      225       2  882399156
99999      12      203       3  879959583

[100000 rows x 4 columns]

In [3]:
#匯入電影+類型
movie = pd.read_csv("Movielens\\movie_genre.dat",sep = "\t",names=["movieId","genre"])
print("電影資料:")
movie

電影資料:

      movieId  genre
0           1      3
1           1      4
2           1      5
3           2      1
4           2      2
...       ...    ...
2886     1679     16
2887     1680      8
2888     1680     14
2889     1681      5
2890     1682      8

[2891 rows x 2 columns]

In [4]:
#user infor
age = pd.read_csv("Movielens\\user_age.dat",sep = "\t",names=["userId","age"])
occu = pd.read_csv("Movielens\\user_occupation.dat",sep = "\t",names=["userId","occupation"])
user = pd.merge(age[["userId","age"]], occu[["userId","occupation"]], on='userId')
user

     userId  age  occupation
0         1    3           1
1         2    6           2
2         3    3           3
3         4    3           1
4         5    4           2
..      ...  ...         ...
938     939    3           6
939     940    4           5
940     941    3           6
941     942    5          12
942     943    3           6

[943 rows x 3 columns]

In [5]:
#data filtering (沒有資料需要刪除)
for number in range(1,944):
    filt = (rating['userId'] == number)
    if len(rating.loc[filt])<3:
        print(number,"/",len(rating.loc[filt]))

In [6]:
total1 = pd.merge(rating[["userId","movieId","rating"]], movie[["movieId","genre"]], on='movieId')
total = pd.merge(total1[["userId","movieId","rating","genre"]], user[["userId","age","occupation"]], on='userId')
print("user+movie資訊合併:")
total

user+movie資訊合併:

        userId  movieId  rating  genre  age  occupation
0          196      242       3      5    5           3
1          196      257       2      1    5           3
2          196      257       2      2    5           3
3          196      257       2      5    5           3
4          196      257       2     15    5           3
...        ...      ...     ...    ...  ...         ...
212580     873      358       2      2    5           5
212581     873      358       2     15    5           5
212582     873      358       2     16    5           5
212583     873      342       4      5    5           5
212584     873      342       4     13    5           5

[212585 rows x 6 columns]

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
#分割資料集
train_data, test_data = train_test_split(total, random_state=None, train_size=0.8)
print("Train data:")
train_data

Train data:

        userId  movieId  rating  genre  age  occupation
153360     308      402       4      5    7          19
72159      535      608       4     14    5           8
115278     353      313       5      1    3           9
29856       54      595       3     16    3           4
206209     242      305       5      8    4           8
...        ...      ...     ...    ...  ...         ...
80143      806      228       4      1    3          16
94683      256      323       5     16    4          17
21144       18       52       5      8    4           2
116052     595     1134       5      8    3          11
80796      846      944       2     17    3           7

[170068 rows x 6 columns]

In [9]:
print("Test data:")
test_data

Test data:

        userId  movieId  rating  genre  age  occupation
79852      880      771       3     15    2           6
119958     215      517       5     14    4          11
55661      543      237       4      8    4           9
205593     754      273       3      1    6          12
30326       62     1133       4      2    3           5
...        ...      ...     ...    ...  ...         ...
184758     661      222       3      2    3          11
99426      437      476       4      5    3           2
11394      416      720       4      1    3           6
88006        5       90       3      5    4           2
111222     125      243       2      4    4           7

[42517 rows x 6 columns]

In [10]:
#定義模型(Item-based "cosine")
def find_common_users(movie1,movie2,df):
    """Find users that both movies have watched"""
    s1 = set((df.loc[df["movieId"]==movie1,"userId"].values))
#     print(s1)
    s2 = set((df.loc[df["movieId"]==movie2,"userId"].values))
#     print(s2)
#     print(s1.intersection(s2))
    return s1.intersection(s2)


def cal_similarity_for_user_ratings(movie1,movie2,users_id,df,method):
    """Calculate the similarity for user ratings between movie1 and movie2"""
    u1 = df[df["movieId"]==movie1]
    u2 = df[df["movieId"]==movie2]
       
    vec1 = u1[u1.userId.isin(users_id)].sort_values(by="userId")["rating"].values

    vec2 = u2[u2.userId.isin(users_id)].sort_values(by="userId")["rating"].values

    i=1
    if len(vec1)>=len(vec2):
        for i in range(len(vec1)-len(vec2)):
            vec2= np.append(vec2,0)
            i=i+1
    else:
        for i in range(len(vec2)-len(vec1)):
            vec1= np.append(vec1,0)
            i=i+1

    if method=="cosine":        
        return dot(vec1, vec2)/(norm(vec1)*norm(vec2))

    return None

def find_the_most_similar_movies(movie, num, df,method):
    # Calculate the similarity between the movie and other movies
    similarities = []
    movie_ids = []
    for other_movie in df.movieId.unique():
        if other_movie == movie:
            continue
        
        common_users = find_common_users(movie,other_movie,df)
        if len(common_users)<10:
            sim = 0
        else:
            sim = cal_similarity_for_user_ratings(movie,other_movie,common_users,df,method)
        
        similarities.append(sim)
        movie_ids.append(other_movie)
#     print(similarities)
            
    # Find top n similar movies
    similarities,movie_ids = np.array(similarities),np.array(movie_ids)
    sorted_index = (np.argsort(similarities)[::-1][:num]).tolist()
    most_similar_movies = movie_ids[sorted_index]
    most_similar_movies_rat = similarities[sorted_index]
    return most_similar_movies,similarities

In [11]:
RMSEcu=[]
from sklearn.metrics import mean_squared_error
import math

In [12]:
#cosine

In [21]:
for number in range(1,21):
    movie = number
    num = 50
    similar_movies = find_the_most_similar_movies(movie,num,train_data,'cosine')
    print(f"movie: {movie}")
    print(f"The most similar movies: {similar_movies[0]}")
    pred = find_the_most_similar_movies(movie,num,test_data,'cosine')

    
    vec1=similar_movies[1]
    vec2=pred[1]
    if len(vec1)>=len(vec2):
        for i in range(len(vec1)-len(vec2)):
            vec2= np.append(vec2,0)
            i=i+1
    else:
        for i in range(len(vec2)-len(vec1)):
            vec1= np.append(vec1,0)
            i=i+1
            
 
            
    MSE = mean_squared_error(vec1,vec2)
    RMSE = math.sqrt(MSE)
    RMSEcu=np.append(RMSEcu,RMSE)

movie: 1
The most similar movies: [  28  526  399  408  651  187  207  142   99  332  588    8  313  195
  228  510   31  786  731   96  170  483   82   69  185   92    4  222
   72  515  936  566  127  649 1208  327 1037   73  422  435  751   22
  100  654   71  432  311  239  778  642]
movie: 2
The most similar movies: [ 483  596  489  549   22  879  394  422 1219  298  653 1016  930  356
   71  380   28  418  588   80  151  435  655  118  222  117  100  186
 1478  399   31  313  214  230  692  651    4   24  515   92  420   97
  501  332   62  408   73 1139  207  239]
movie: 3
The most similar movies: [ 952  116   59  317  975  447  425  708  137  193  864  729  845  448
  428  496  710  746  527  735  168  196 1011 1009 1073  179  443   87
   86  792  640 1039  203  470  340  282  518  134  192  272  959  401
  154  290  357  427  663  249   67   42]
movie: 4
The most similar movies: [1115   92  483  408  420  654  651   99  195  549   28    8  185  588
   73  653  356  566  670  415  435    1  515  778  649  655  473  936
  186   71  188  832  232  402   96   54  823 1133 1188  228   72   69
  273  117  465  313  298  355  568  100]
movie: 5
The most similar movies: [ 399  356  778   96   69  187  682  465  501  549  526   99  418  483
 1208  659  946  930   72  568  515  408  142  273  133  373   28  195
   92  127  588  254  566  528  190  771    1   31   54  232  170  435
  402   39  169  228  214  692  655  332]
movie: 6
The most similar movies: [ 134  269   56  197   70  216  191   12   98   14   89  276  275  318
  100  286  170  127  181  135  172   50  302  864  369  478 1266   90
  904  106  139  167  806 1566  304  105  827 1043  679  978 1444  810
  689  582 1159  331  272   82  383  602]
movie: 7
The most similar movies: [ 587  657  622  171   12  474  971 1019   89 1058  318  652  648  486
  686   79  603  856  511 1170  213  709  191   23  812   11  505  528
  673  800  404  275  189  704  939  846  583  258  194 1119  525  602
  223  144   98  382  732  781  580  929]
movie: 8
The most similar movies: [1204  879  408  127  501  298  549  222  356  313    1  656  490  483
    4  244  100  510  566 1133   28  653  415  778  654   24   99   72
   96  327  195 1188  186  187   92  659  651  117 1203  515  655   69
  419  151  526  611  608  670   54  432]
movie: 9
The most similar movies: [ 114  703  524  966  198  506   59  499  650   64  494  942  488  297
  108  134 1039  357  503  242  708   60  923 1007  303  467  660  896
  980  192  646  661   48  632  461  165  609  279   32  614  163  469
  729  425  212  529  492  433 1168  639]
movie: 10
The most similar movies: [ 969  657  478  486  481  789  846  921  194  550   76  487  629  528
  197  619  474   23  504  647  190   79  213  479  652  740  709  208
  382  234   70  216  705  217   56  191   89  484  582  471  264  430
  295  525  315  602 1050  226  462  505]
movie: 11
The most similar movies: [ 587  925  406  293 1041  156   98 1153  846  673 1101  924  657  504
   79  869 1058  581  211  177  255  625    7  318  354  647  744  213
  684  216 1240  306  404  591   12   49  191  732 1028  125  223  628
  696  521  237  752  742   65  474  652]
movie: 12
The most similar movies: [ 316  474  482  657  124  182  199   45  315  479  318  587   56 1197
 1119   79  177  856  523  603  511   89 1226  211  481    7   98  709
  157 1012  480  180  581  625  487  223  248  704  607  696  210 1101
  204  202  684   49  528  525 1284  216]
movie: 13
The most similar movies: [ 614 1142  980  530  956  810  734  463 1018 1007  896 1098  317  699
  506  166  251  529  212  792  952  116  708  297   59  497  285   48
  461  713  242  224  675 1113 1021  509  694  427 1067  887  508  198
  137  372   30  134 1008  414  639  464]
movie: 14
The most similar movies: [ 641  487  479 1226  730 1103  191  381  211 1109  747  607  744  131
  528   45  505  525  197  482  194  404  478  481 1050  657  316  686
  429  724  531  216  180  629 1119  157  847   70   65  208   98  248
   66  521  171   47  315   93   89 1101]
movie: 15
The most similar movies: [ 570 1118  972  966  366  467 1267 1147 1007  297 1136 1049   86 1053
   30  674 1035  272  844  606   64  277  735  746  114  393  604  136
  614  694  303  658  162  126   87  242   59 1046  934  615  434   58
  676  499  282  448  379  193  762  496]
movie: 16
The most similar movies: [191 709  79 208 161 246 204  83 462 216 223 293  77 194 234 628 480  98
 511 685 275 471  66  70 289 211 381 248 322 258 144 197 124 202  12  10
 274 268 479 333 531  88  44 732 147 582 111   7 815  45]
movie: 17
The most similar movies: [  50  542  755  184  101  181   21  993  820  257 1091  373  164  307
  358  260  172  173  201  385  411  403  328  183  636  235  252  665
  809  515  132  176  720  498   55  449  770  206  231  245   95  135
  302   62  271 1208  141  802  769  232]
movie: 18
The most similar movies: [1329  388  602 1034   86 1344  103  452   20  925  593  169  688  582
  806  689  478 1266  904  106  139  167  304  105  679   82  272  331
  482  572  639  282  928  215  412  391 1424  373  591 1043  864  827
 1566  369   90 1159  712  743  964 1065]
movie: 19
The most similar movies: [509 950 427 287 269 251 527 221 107 713 923 196 494  58  64  86  48 116
  87 203 707 317 200 215 277 134  42 676 303  15 175 168 845 496 357 475
  32 242 463 301 297 126  13 476 508 792   9  61 321 516]
movie: 20
The most similar movies: [ 647  430  315  523   76   44  705  657  607  652   89 1194  474  485
   77  304  971  311  199  205 1074 1197  709   23  949  293  306  559
   79  847  684  471  197  208   14  504  484   98  265  177  194 1048
  478  528   47  182  191  482   88  521]

In [22]:
Final=0
print(RMSEcu)
# RMSEcu[0]

[0.47901596 0.44915746 0.37916693 0.48825426 0.43130148 0.47901596
 0.44915746 0.37916693 0.48825426 0.43130148 0.08225772 0.53946228
 0.48131149 0.53349347 0.46262468 0.47901596 0.44915746 0.37916693
 0.48825426 0.43130148 0.08225772 0.53946228 0.48131149 0.53349347
 0.46262468 0.53311778 0.54541061 0.49127151 0.50985858 0.5044743
 0.28665457 0.35092309 0.         0.31361948 0.41869579]

In [23]:
for number in range(0,20):
    Final= Final+RMSEcu[number]
#     print(Final)
    
Final=Final/20   
print("Root Mean Square Error:", Final)

Root Mean Square Error: 0.43899189497844293

In [56]:
#推薦movies
def recommend(df,movie,similar_movies ,top_n):
    
    seen_users = np.unique(df.loc[df["movieId"]==movie,"userId"].values)
    Seen_users = df["movieId"].isin(seen_users)
    Seen_users_ratings = df[Seen_users][["movieId","rating"]]
    
    # Find the movies the similar users have seen.
    similar_cond = df["movieId"].isin(similar_movies)
    seen_movies_ratings = df[similar_cond][["movieId","rating"]]
#     print(seen_movies_ratings)

    # Find average ratings by the most similar users
    average_ratings = seen_movies_ratings.groupby("movieId").mean()
    average_ratings.reset_index(inplace=True)
    top_ratings = average_ratings.sort_values(by="rating",ascending=False).iloc[:top_n]
    top_ratings.reset_index(inplace=True,drop=True)
    
    Top_ratings = pd.merge(top_ratings[["movieId","rating"]], seen_movies_ratings[["movieId","rating"]], on='movieId')
    
    return Top_ratings

In [57]:
top_n = 10
top_ratings = recommend(train_data,movie,similar_movies[0], top_n)
print(f"Top-{top_n} average ratings by the most similar movies:")
top_ratings

Top-10 average ratings by the most similar movies:

      movieId  rating_x  rating_y
0          98  4.298246         5
1          98  4.298246         5
2          98  4.298246         4
3          98  4.298246         5
4          98  4.298246         4
...       ...       ...       ...
3166      647  4.132743         5
3167      647  4.132743         4
3168      647  4.132743         5
3169      647  4.132743         3
3170      647  4.132743         4

[3171 rows x 3 columns]

In [58]:
pred_top_ratings=top_ratings[["rating_x","rating_y"]]

In [60]:
pred_top_ratings.sort_values(by='rating_x').tail(30)

     rating_x  rating_y
403  4.298246         4
401  4.298246         4
400  4.298246         4
399  4.298246         4
398  4.298246         1
397  4.298246         5
396  4.298246         4
395  4.298246         5
402  4.298246         4
393  4.298246         5
412  4.298246         5
414  4.298246         5
430  4.298246         5
429  4.298246         4
428  4.298246         4
427  4.298246         4
426  4.298246         5
425  4.298246         1
424  4.298246         5
413  4.298246         1
423  4.298246         5
421  4.298246         4
420  4.298246         5
419  4.298246         4
418  4.298246         4
417  4.298246         5
416  4.298246         4
415  4.298246         4
422  4.298246         4
0    4.298246         5

In [50]:
# sort the dataframe
pred_top_ratings.sort_values(by='rating_x',ascending=False,inplace=True)
# remove rows with missing values
pred_top_ratings.dropna(inplace=True)
# convert ratings to binary labels
threshold = 3.5
pred_top_ratings = pred_top_ratings >= threshold
# view results
pred_top_ratings.head(20)

C:\Users\Yi-Chen\anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

     rating_x  rating_y
0        True      True
423      True      True
416      True      True
417      True      True
418      True      True
419      True      True
420      True      True
421      True      True
422      True      True
424      True      True
414      True      True
425      True     False
426      True      True
427      True      True
428      True      True
429      True      True
430      True      True
431      True      True
415      True      True
413      True     False

In [53]:
def recall_at_k(df: pd.DataFrame, k, y_test: str='rating_y', y_pred: str='rating_x') -> float:
    """
    Function to compute recall@k for an input boolean dataframe
    
    Inputs:
        df     -> pandas dataframe containing boolean columns y_test & y_pred
        k      -> integer number of items to consider
        y_test -> string name of column containing actual user input
        y-pred -> string name of column containing recommendation output
        
    Output:
        Floating-point number of recall value for k items
    """
    # check we have a valid entry for k
    if k <= 0:
        raise ValueError('Value of k should be greater than 1, read in as: {}'.format(k))
    # check y_test & y_pred columns are in df
    if y_test not in df.columns:
        raise ValueError('Input dataframe does not have a column named: {}'.format(y_test))
    if y_pred not in df.columns:
        raise ValueError('Input dataframe does not have a column named: {}'.format(y_pred))
        
    # extract the k rows
    dfK = df.head(k)
    # compute number of all relevant items
    denominator = df[y_test].sum()
    # compute number of recommended items that are relevant @k
    numerator = dfK[dfK[y_pred] & dfK[y_test]].shape[0]
    # return result
    if denominator > 0:
        return numerator/denominator
    else:
        return None

In [54]:
k = 10
print('Recall@k: {:.2f} for k={}'.format(recall_at_k(pred_top_ratings,k),k))

Recall@k: 0.00 for k=10

In [61]:
from sklearn.metrics import ndcg_score

In [62]:
C=[[4.2982,4.2982,4.2982,4.2982,4.2982,4.2982,4.2982,4.2982,4.2982,4.2982,4.2982,4.2982,4.2982,4.2982,4.2982,4.2982,4.2982,4.2982,4.2982,4.2982,4.2982,4.2982,4.2982,4.2982,4.2982,4.2982,4.2982,4.2982,4.2982,4.2982]]
D=[[5,4,4,4,5,4,4,5,4,5,1,5,1,5,4,4,4,5,5,5,5,4,5,4,5,1,4,4,4,4]]

In [63]:
ndcg_score(C,D, k=10)

1.0000000000000002